@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{ background-color:#282a36;}

.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
  font-family: 'Righteous', cursive;
}
.bar:hover{
  box-shadow: 1px 1px 7px 1px #ff79c6;
}
.bar:focus-within{
  box-shadow: 1px 1px 7px 1px #ff5555;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  background-color: #282a36;
  color: #fff;
  font-family: 'Righteous', cursive;
  
}
.zee5{
  height:25px;
  position:relative;
  top:5px;
  left:10px;
}

.button{
  background: linear-gradient(90deg,red 0,#a100ff);
  border:none;
  color:#fff;
  font-size:15px;
  padding: 10px 20px;
  margin:5px;
  margin-top: 25px;
  border-radius:15px;
  outline:none;
  width: 130px;
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Righteous', cursive;
}

/** Text Selection Color **/
::-moz-selection { /* Firefox */
  color: #6272a4;
  background: #f8f8f2;
}

::selection {
  color: #6272a4;
  background: #f8f8f2;
}

/** Detect Connection **/

.wrapper{
  position: absolute;
  top: 20px;
  left: 20px;
  animation: show_toast 1s ease forwards;
}
@keyframes show_toast {
  0%{
    transform: translateX(-100%);
  }
  40%{
    transform: translateX(10%);
  }
  80%, 100%{
    transform: translateX(20px);
  }
}
.wrapper.hide{
  animation: hide_toast 1s ease forwards;
}
@keyframes hide_toast {
  0%{
    transform: translateX(20px);
  }
  40%{
    transform: translateX(10%);
  }
  80%, 100%{
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100%);
  }
}
.wrapper .toast{
  background: #fff;
  padding: 20px 15px 20px 20px;
  border-radius: 10px;
  border-left: 5px solid #2ecc71;
  box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
  width: 430px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrapper .toast.offline{
  border-color: #ccc;
}
.toast .content{
  display: flex;
  align-items: center;
}
.content .icon{
  font-size: 25px;
  color: #fff;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 50%;
  background: #2ecc71;
}
.toast.offline .content .icon{
  background: #ccc;
}
.content .details{
  margin-left: 15px;
}
.details span{
  font-size: 20px;
  font-weight: 500;
}
.details p{
  color: #878787;
}
.toast .close-icon{
  color: #878787;
  font-size: 23px;
  cursor: pointer;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  transition: all 0.3s ease;
}
.close-icon:hover{
  background: #efefef;
}

@media only screen and (min-width : 100px) and (max-width : 780px)
{
  {}
  .bar
  {
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (min-width : 100px) and (max-width : 780px)
{
  {}
  .searchbar
  {
    width: 78%;
    margin: 0 auto;
    border-radius: 20px;
    
  }
}

@media only screen and (min-width : 100px) and (max-width : 780px)
{
  {}
  .zee5
  {
    margin: 0 auto;
  }
}
